# Section 1:List

**1. Create a list of 5 of your favorite**

In [2]:
Fruits = ['apple','banana','orange']
print(Fruits)

['apple', 'banana', 'orange']

#adding a fruit to the list
Fruits.append('watermelon')
Fruits

In [6]:
#Removing the 2nd item from the list
Fruits.remove('banana')
Fruits

['apple', 'orange', 'watermelon']

In [7]:
#length of the list.
len(Fruits)

3

In [11]:
#Sorting the list alphabetically
Fruits.sort()
print(Fruits)

['apple', 'orange', 'watermelon']

# Section 2:Tuples
..

**Q2. Create a tuple of 4 of your favorite movies.**

In [11]:
Movies = ('Pushpa','Aarya','Narasimha')
print(Movies)

('Pushpa', 'Aarya', 'Narasimha')

In [12]:
# Try changing one element
Movies[0] = ('Pushpa-2')  # Attempt to change "Pushpa" to "Pushpa-2"

TypeError: 'tuple' object does not support item assignment

Tuples are immutable, meaning their elements cannot be changed once created

In [10]:
# Access the last movie using negative indexing
print("\nLast movie in the tuple:", Movies[-1])

Last movie in the tuple: Narasimha

# Section 3: Sets.

**Q3. Create a set of 5 unique colors.**

In [35]:
#create a set of color
Colors = {'red','yellow','blue','green'}
print(Colors)

#Adding a new color to the set
Colors.add('voilet')
print(Colors)

#Try adding a duplicate color
Colors.add('red')
print(Colors)

#Remove a color from the set
Colors.remove('voilet')
print(Colors)

#Check if a specific color (e.g., "Blue") is in the set
if "blue" in Colors:
    print("blue is in the color set.")
else:
    print("blue is not in the color set.")

{'red', 'blue', 'yellow', 'green'}
{'red', 'green', 'blue', 'voilet', 'yellow'}
{'red', 'green', 'blue', 'voilet', 'yellow'}
{'red', 'green', 'blue', 'yellow'}
blue is in the color set.

# Section 4: Dictionaries

**Q4. Create a dictionary with student names as keys and their marks as values.**

In [54]:
#create a dictionary
student_marks = {'Mukesh': 85, 'Mahesh': 92, 'Dhoni': 77}
print(student_marks)

#Add a new student to the dictionary
student_marks.update({'swagath': 99})
print(student_marks)

#Update marks of an existing student
student_marks.update({'Mukesh': 89})
print(student_marks)

#Delete one student from the dictionary
student_marks.pop("Mahesh")
print(student_marks)

#Check if 'David' is a student in the dictionary
student_marks = {'Mukesh': 85, 'Mahesh': 92, 'Dhoni': 77}
if "David" in student_marks:
    print("YES")
else:
    print("NO")

{'Mukesh': 85, 'Mahesh': 92, 'Dhoni': 77}
{'Mukesh': 85, 'Mahesh': 92, 'Dhoni': 77, 'swagath': 99}
{'Mukesh': 89, 'Mahesh': 92, 'Dhoni': 77, 'swagath': 99}
{'Mukesh': 89, 'Dhoni': 77, 'swagath': 99}
NO

# Section 5: Conditional Statements

# **Q5. Write a Python program**dd.

In [65]:

# Accept a number from the user
number = int(input("Enter a number: "))

# Check if the number is positive, negative, or zero
if number > 0:
    print("The number is positive.")
elif number < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

# Check if the number is even or odd
if number % 2 == 0:
    print("The number is even.")
else:
    print("The number is odd.")

Enter a number:  11

The number is positive.
The number is odd.

# Q6. Write a program to check if a student has passed or failed:
- Input marks from the user.
- If marks >= 40, print "Pass", else print "Fail".

In [69]:
Marks = int(input("Enter a number: "))
if Marks >= 40:
    print ("Pass")
else:
    print ("Fail")

Enter a number:  10

Fail

 # Q7. Create a simple grading system

In [71]:
Marks = int(input("Enter a number: "))
if Marks >= 90 and Marks <= 100:
    print("A")
elif Marks >= 75 and Marks <= 89:
    print("B")
elif Marks >= 50 and Marks <= 74:
    print("C")
elif Marks >= 40 and Marks <= 49:
    print("D")
else: 
    print("FAIL")

Enter a number:  41

D

# Section 6: Loops in Python

**Q9. Use a for loop to print all elements of a list containing your 5 favorite animals.**

In [95]:
favorite_animals = ['Lion','Tiger','Elephant','Deer']
for Animal in favorite_animals:
    print(Animal)

Lion
Tiger
Elephant
Deer

**Q10. Write a program using a for loop to print numbers from 1 to 10.**

In [103]:
for numbers in range(1,11):
    print(numbers)

1
2
3
4
5
6
7
8
9
10

**Q11. Write a program using a while loop to print the numbers from 5 to 1 in reverse**

In [123]:
numbers = 5
while numbers >= 1:
    print(numbers)
    numbers -= 1

5
4
3
2
1

**Q12. Use a for loop with range() to print even numbers between 1 and 20.**

In [130]:
Numbers=20
print ("Even_numbers are")
for Even_numbers in range(2, 21, 2):  # start=2, stop=21, step=2
    print(Even_numbers)

Even_numbers are
2
4
6
8
10
12
14
16
18
20

**Q13. Write a loop that iterates through numbers 1 to 10, but skips the number 5 using 'continue'.**

In [139]:
for number in range(1,11):
    if number == 5:
        continue
    print(number)

1
2
3
4
6
7
8
9
10

**Q14.Write a loop that breaks when it reaches the number 7, but prints all other numbers before it.**

In [142]:
for number in range(1,11):
    if number == 7:
        break
    print(number)

1
2
3
4
5
6

**Q15. Write a program that uses 'pass' in a for loop going from 1 to 3.**

In [145]:
for number in range(1, 4):
    pass 
print("Loop completed.")

Loop completed.

**Q16. Ask the user to enter numbers continuously using a while loop. Stop asking when the user
enters 0. Then print the sum of all entered numbers (excluding 0).**

In [ ]:
total = 0

while True:
    num = int(input("Enter a number (0 to stop): "))
    if num == 0:
        break
    total += num

print("Sum of all entered numbers:", total)

In [ ]:
10