# Pandas - ope n source library
used to manipulation , analysis & cleaning
provides two main data structure
1. series
2. dataframe -2d labeled table

In [ ]:
# Pandas Series
one dimensional labelled array
it can hold any data type- integers, floats, strings etc

In [2]:
import pandas as pd

# creating a series from a list
data= [10,20,30,40]
series = pd.Series(data)
print(series)

0    10
1    20
2    30
3    40
dtype: int64

In [5]:
# Creating custom index
data = [100,200,300]

sales = pd.Series(data, index=['Jan','Feb','Mar'])
print(sales)

Jan    100
Feb    200
Mar    300
dtype: int64

In [7]:
# Accessing data with custom index
print(sales['Feb'])
print(sales[['Jan', 'Mar']])

200
Jan    100
Mar    300
dtype: int64

In [ ]:
# Pandas Dataframe
2d labeled data structure
it is like an excel spreadsheet or an sql table
row- identified by index
columns - labeled with names
each column can hold different kind of data type - int,float, string, etc

In [8]:
# Creating a dataframe from a dictionary
data = {
    'Name':['Alice','Bob','Charlie'],
    'Age': [25,30,35],
    'City':['New York','Paris','London']
}

df = pd.DataFrame(data)
print(df)

      Name  Age      City
0    Alice   25  New York
1      Bob   30     Paris
2  Charlie   35    London

In [10]:
# create a datafram from dict 
lst = ['Python','Data','Science', 'fun', 'and', 'powerful']

df = pd.DataFrame(lst)

print(df)

          0
0    Python
1      Data
2   Science
3       fun
4       and
5  powerful

In [11]:
# create dataframe of numpy array
import numpy as np

data = np.array([[10,20,30],
                 [40,50,60],
                 [70,80,90]])

df = pd.DataFrame(data,columns=['X','Y','Z'])

print(df)

    X   Y   Z
0  10  20  30
1  40  50  60
2  70  80  90

# Statistics

In [ ]:
# main categories for descriptive stats
A. Measure central tendency - describe the center of the data
Mean-Airthemetic average
median- middle value when data is sorted
mode - most frequent value

B. Measure of dispersion(spread)- describe the variability of data
Range - max-min
variance - average deviation of mean
standard deviation - square  of variance
Interquartile range (IQR) 

c. Measure of positions
percentiles - value below which a certain % data falls
quartiles - deivide data into 4 parts
Z -scores - showing how many sds from the mean

D. shape of Distribution
skeness- measure asymmetry(positive, negative)
kurtosis - measures the peakness and flatness inside the data

# purpose descriptive stats
summarize large dataset, into easy to understand number of visuals
identify trends, pattern, and anomalies
provide the foundation for inferential stats

# limitations
only descrive statistical info of  data set, does not predict or explain causes
it can mislead if data is biased or incomplete

In [16]:
# sample data
import pandas as pd

data = {
    'Age': [20,30,35,40,30,35,25]
}

df = pd.DataFrame(data)

# mean
mean_age = df['Age'].mean()

# Display results
print("Mean Age:", mean_age)

Mean Age: 30.714285714285715

In [17]:
# median
median_age = df['Age'].median()
print("Median Age:", median_age)

Median Age: 30.0

In [18]:
# mode
mode_age = df['Age'].mode()[0]
print("Mode Age:", mode_age)

Mode Age: 30

In [19]:
# variance
variance_age = df['Age'].var()
print("Variance Age:", variance_age)

Variance Age: 45.23809523809524

In [21]:
# standard deviation
std_age = df['Age'].std()
print("Standard Deviation Age:", std_age)

Standard Deviation Age: 6.7259270913454925

In [23]:
# measure of position 
#percentile, quartile, Z-score

import numpy as np
from scipy import stats


data = np.array([10,15,20,25,30,35,40,45,50])

# 1. percentile
p30= np.percentile(data,30) # 30th percentile
print("30th Percentile:", p30)

# quartiles
q1 = np.percentile(data,25) # q1
q2 = np.percentile(data,50)
q3 = np.percentile(data,75)
print("Q1:", q1,"Q2(Median):",q2,"Q3:",q3)

30th Percentile: 22.0
Q1: 20.0 Q2(Median): 30.0 Q3: 40.0