## Today Agenda
# remaining operation tuples
# Set
# dictionary

In [1]:
# add items in tuple
#1st approach
thistuple =("red","blue","green")
y = list(thistuple) # convert into a list
y.append("white")
thistuple = tuple(y) # convert it back into a tuple
print(thistuple)

('red', 'blue', 'green', 'white')

In [2]:
# 2nd approach - create a new tuple with the item and add it to the existing tuple
thistuple =("red","blue","green")
y = ("white",)
thistuple += y
print(thistuple)

('red', 'blue', 'green', 'white')

In [3]:
#remove items from tuple
#1st approach
thistuple = ("a","b","c")
y =list(thistuple)
y.remove("a")
thistuple=tuple(y)
thistuple

('b', 'c')

In [4]:
#2nd approach - use del keyword
thistuple=("a","b","c")
del thistuple
print(thistuple) # this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

In [5]:
# Packing a tuple- creat a tuple , assign values to it
fruits =("apple","orange","banana")
fruits

('apple', 'orange', 'banana')

In [6]:
# unpacking - allowed to extract the values back into variables
fruits =("apple","orange","banana")
(x,y,z) = fruits
print(x)
print(y)
print(z)

apple
orange
banana

In [7]:
# Join two tuple - use + operator
tuple1 =("x","y","z")
tuple2 = (1,2,3)
tuple3= tuple1 + tuple2
print(tuple3)

('x', 'y', 'z', 1, 2, 3)

In [8]:
# multiply tuples - use* operator
color = ("red","green","blue")
mytuple = color * 2
print(mytuple)

('red', 'green', 'blue', 'red', 'green', 'blue')

# Set
# unordered colllection of unique items
# does not allow duplicates
# Mutable ( can add or remove items)
# Not accessed by index
# Defined using curly braces : {1,2,3}

In [11]:
# create a set
#myset ={"red","blue","green"}
#myset.add("white")
newset ={"a","b","c"}
myset.update(newset)
print(myset)

{'white', 'a', 'green', 'c', 'red', 'blue', 'b'}

In [13]:
# add elemnts of a list to set
fruits = {"apple","banana","cherry"}
mylist = ["kiwi","orange"]
fruits.update(mylist)
print(fruits)

{'orange', 'kiwi', 'banana', 'cherry', 'apple'}

In [18]:
# remove () and discard() method
myset ={"good","bad","poor"}
#myset.remove("poor")
#myset.remove("average") # it will raise error , if item not exist in set
#myset.discard("poor")
myset.discard("average") # discard will not raise an error, if items not present in set
print(myset)

{'poor', 'bad', 'good'}

In [19]:
# pop () method - remove random item, we cannot sure what items that get removed
fruits = {"apple","banana","cherry"}
x = fruits.pop()
print(x) # removed item
print(fruits) # set after removal

banana
{'apple', 'cherry'}

In [20]:
#clear() -empties the set
color = {"red","blue"}
color.clear()
print(color)

set()

In [21]:
# del keyword - delete set completely
myset = {"good","bad"}
del myset
print(myset) # raise an error coz set no longer exist

NameError: name 'myset' is not defined

# Join Sets
# union() and update() methods - join all items from both sets
# intersection() method - keeps only the duplicates
# difference () method - keep the items from the first set that are not in the other set
# Symmetric_difference() method- keeps all items except duplicates

In [23]:
# Union() and "|" operator - both gives same result
set1 = {"a","b","c"}
set2 = {1,2,3}
#set3 = set1.union(set2)
set3 = set1 | set2
print(set3)

{1, 2, 3, 'c', 'a', 'b'}

In [25]:
# join multiple set
set1  ={"a","b","c"}
set2 = {1,2,3}
set3 = {"alina","jack"}
set4 = {"red","green","blue"}
#myset = set1.union(set2,set3,set4)
myset = set1 | set2 | set3 | set4
print(myset)

{1, 2, 3, 'green', 'c', 'red', 'b', 'blue', 'jack', 'a', 'alina'}

In [28]:
# intersection()
set1 = {"apple","banana","cherry"}
set2 = {"google","microsoft", "apple"}
#set3 = set1.intersection(set2)
#set3 = set1 & set2
#print(set3)
set1.intersection_update(set2) # keep duplicates, change the original set instead of returning a new set
print(set1)

{'apple'}

In [29]:
# True and 1 are considered the same values same goes for False and 0
set1 = {"a",1,"b",0,"c"}
set2 = {False, "x",1,"a",2,True}
set3 = set1.intersection(set2)
print(set3)

{False, 1, 'a'}

In [32]:
# difference() method and "-" operator
set1 = {"apple","banana","cherry"}
set2 = {"google","microsoft","apple"}
#set3 = set1.difference(set2)
#set3 = set1 - set2
#print(set3)
set1.difference_update(set2)
print(set1)

{'banana', 'cherry'}

In [35]:
# symmetric_difference() method and "^" operator
set1 = {"apple","banana","cherry"}
set2 = {"google","microsoft","apple"}
#set3 = set1.symmetric_difference(set2)
#set3 = set1 ^ set2
#print(set3)
set1.symmetric_difference_update(set2)
print(set1)

{'microsoft', 'banana', 'google', 'cherry'}

# Dictionary
# stores key-value pairs
# ordered 
# key must be unique
# mutable
# Accessed using keys
# defined using curly {} braces

In [47]:
# create dict
dict={"brand": "Ford","model": "Mustang","year": 1964}
#print(dict)
#print(dict["brand"]) # print brand value from dict
#x = dict["model"] #access the item by its key name
#x = dict.get("model")
#x = dict.keys()
#x = dict.values()
x = dict.items() #return each item in dict, as a tuple in list
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [48]:
# duplicate value overwrite the existing values
dict = {"brand":"Ford","model":"Mustang","year":1964,"year":2020}
print(dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [50]:
# change the value of a specific item by referring to its key name
dict = {"brand":"Ford","model":"Mustang","year":1964}
#dict["year"] = 2020
dict.update({"year":2018})
print(dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [52]:
# add dictionary item
dict = {"brand":"Ford","model":"Mustang","year":1964}
#dict["color"] = "blue"
dict.update({"color":"white"})
print(dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'white'}

In [55]:
# remove dictionary item
dict = {"brand":"Ford","model":"Mustang","year":1964}
#dict.pop("model") # removes the item with the specified key name
#dict.popitem() #removes the last inserted item
dict.clear() # empties the dict
print(dict)

{}

In [56]:
# nested dictionary
students = {"101":{"name":"Alice","age":20,"marks":85},"102":{"name":"Bob","age":21,"marks":90},"103":{"name":"Jack","age":19,"marks":72}}
students

{'101': {'name': 'Alice', 'age': 20, 'marks': 85},
 '102': {'name': 'Bob', 'age': 21, 'marks': 90},
 '103': {'name': 'Jack', 'age': 19, 'marks': 72}}