### Q1: Lists

In [39]:
fruits = ["Apple", "Banana", "Orange", "Grapes", "Mango"]
print("Initial list:", fruits)

fruits.append("Pineapple")  # Add new fruit
fruits.pop(1)  # Remove 2nd item
print("Length of list:", len(fruits))

fruits.sort()  # Sort alphabetically
print("Sorted list:", fruits)

Initial list: ['Apple', 'Banana', 'Orange', 'Grapes', 'Mango']
Length of list: 5
Sorted list: ['Apple', 'Grapes', 'Mango', 'Orange', 'Pineapple']

### Q2: Tuples

In [42]:
movies = ("Inception", "Interstellar", "The Dark Knight", "Tenet")
print("Movies tuple:", movies)

# Attempting to change an element 
try:
    movies[1] = "Memento"
except TypeError as e:
    print("Error:", e, "- Tuples are immutable.")

# movies[1] = "Memento"


# Access last movie
print("Last movie:", movies[-1])

Movies tuple: ('Inception', 'Interstellar', 'The Dark Knight', 'Tenet')
Error: 'tuple' object does not support item assignment - Tuples are immutable.
Last movie: Tenet

### Q3: Sets

In [25]:
colors = {"Red", "Blue", "Green", "Yellow", "Purple"}
colors.add("Orange")  # Add new color
colors.add("Blue")  # Duplicate 
colors.remove("Green")  # Remove a color

print("Is 'Blue' in set?", "Blue" in colors)
print("Colors set:", colors)

Is 'Blue' in set? True
Colors set: {'Red', 'Blue', 'Yellow', 'Orange', 'Purple'}

### Q4: Dictionaries

In [26]:
student_marks = {"Alice": 85, "Bob": 92, "Charlie": 78}
print("Keys:", student_marks.keys())
print("Values:", student_marks.values())

student_marks["David"] = 88  # Add student
student_marks["Alice"] = 90  # Update marks
del student_marks["Charlie"]  # Delete student

print("Is 'David' in dictionary?", "David" in student_marks)
print("Updated dictionary:", student_marks)

Keys: dict_keys(['Alice', 'Bob', 'Charlie'])
Values: dict_values([85, 92, 78])
Is 'David' in dictionary? True
Updated dictionary: {'Alice': 90, 'Bob': 92, 'David': 88}

### Q5: Conditional Statements

In [27]:
num = int(input("Enter a number: "))
if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number:  47

Positive
Odd

### Q6: Pass or Fail

In [28]:
marks = int(input("Enter marks: "))
print("Pass" if marks >= 40 else "Fail")

Enter marks:  97

Pass

### Q7: Grading System

In [29]:
marks = int(input("Enter marks: "))
if 90 <= marks <= 100:
    grade = "A"
elif 75 <= marks <= 89:
    grade = "B"
elif 50 <= marks <= 74:
    grade = "C"
elif 40 <= marks <= 49:
    grade = "D"
else:
    grade = "F"
print("Grade:", grade)

Enter marks:  39

Grade: F

### Q8: Product Lookup

In [30]:
products = {"Laptop": 1000, "Phone": 500, "Tablet": 300}
item = input("Enter product name: ")
print("Price:", products[item] if item in products else "Product not found")

Enter product name:  Phone

Price: 500

### Q9: Favorite Animals

In [31]:
animals = ["Dog", "Cat", "Elephant", "Tiger", "Lion"]
for animal in animals:
    print(animal)

Dog
Cat
Elephant
Tiger
Lion

### Q10: Print numbers 1 to 10

In [32]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### Q11: Print reverse 5 to 1

In [33]:
i = 5
while i >= 1:
    print(i)
    i -= 1

5
4
3
2
1

### Q12: Print Even numbers between 1 and 20

In [34]:
for i in range(2, 21, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

### Q13: Skip number 5

In [35]:
for i in range(1, 11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

### Q14: Break at number 7

In [36]:
for i in range(1, 11):
    if i == 7:
        break
    print(i)

1
2
3
4
5
6

### Q15: Using 'pass' in a for loop going from 1 to 3

In [37]:
for i in range(1, 4):
    pass

### Q16: Ask the user to enter numbers continuously using a while loop. Stop asking when the user enters 0. Then print the sum of all entered numbers (excluding 0).

In [38]:
total = 0
while True:
    num = int(input("Enter a number (0 to stop): "))
    if num == 0:
        break
    total += num
print("Sum of numbers:", total)

Enter a number (0 to stop):  7
Enter a number (0 to stop):  78
Enter a number (0 to stop):  65
Enter a number (0 to stop):  56
Enter a number (0 to stop):  0

Sum of numbers: 206