Section 1: Lists
Q1. Create a list of 5 of your favorite fruits:

In [2]:
# Q1: Lists Exercise

# Create a list of 5 favorite fruits
fruits = ['Apple', 'Banana', 'Orange', 'Mango', 'Strawberry']

# Print the list
print("Original list:", fruits)

# Add a new fruit to the list
fruits.append('Pineapple')
print("After adding Pineapple:", fruits)

# Remove the 2nd item from the list (index 1)
removed_fruit = fruits.pop(1)
print(f"Removed {removed_fruit} from the list:", fruits)

# Print the length of the list
print("Length of the list:", len(fruits))

# Sort the list alphabetically
fruits.sort()
print("Sorted list:", fruits)

Original list: ['Apple', 'Banana', 'Orange', 'Mango', 'Strawberry']
After adding Pineapple: ['Apple', 'Banana', 'Orange', 'Mango', 'Strawberry', 'Pineapple']
Removed Banana from the list: ['Apple', 'Orange', 'Mango', 'Strawberry', 'Pineapple']
Length of the list: 5
Sorted list: ['Apple', 'Mango', 'Orange', 'Pineapple', 'Strawberry']

Section 2: Tuples
Q2. Create a tuple of 4 of your favorite movies:

In [3]:
# Q2: Tuples Exercise

# Create a tuple of 4 favorite movies
movies = ('The Shawshank Redemption', 'The Godfather', 'Pulp Fiction', 'Inception')

# Print the tuple
print("Movies tuple:", movies)

# Try changing one element (this will cause an error)
try:
    movies[0] = 'New Movie'
except TypeError as e:
    print(f"Error: {e}")
    print("Explanation: Tuples are immutable, meaning their elements cannot be changed after creation.")

# Access the last movie using negative indexing
last_movie = movies[-1]
print(f"Last movie using negative indexing: {last_movie}")

# Also show other negative indices
print(f"Second to last movie: {movies[-2]}")
print(f"Third to last movie: {movies[-3]}")

Movies tuple: ('The Shawshank Redemption', 'The Godfather', 'Pulp Fiction', 'Inception')
Error: 'tuple' object does not support item assignment
Explanation: Tuples are immutable, meaning their elements cannot be changed after creation.
Last movie using negative indexing: Inception
Second to last movie: Pulp Fiction
Third to last movie: The Godfather

Section 3: Sets
Q3. Create a set of 5 unique colors:

In [4]:
# Q3: Sets Exercise

# Create a set of 5 unique colors
colors = {'Red', 'Blue', 'Green', 'Yellow', 'Purple'}
print("Original colors set:", colors)

# Add a new color to the set
colors.add('Orange')
print("After adding Orange:", colors)

# Try adding a duplicate color (observe what happens)
colors.add('Red')
print("After trying to add duplicate 'Red':", colors)
print("Note: Sets only store unique values, so duplicates are ignored.")

# Remove a color from the set
colors.remove('Yellow')
print("After removing Yellow:", colors)

# Check if a specific color is in the set
check_color = 'Blue'
if check_color in colors:
    print(f"'{check_color}' is in the set")
else:
    print(f"'{check_color}' is not in the set")

# Check another color
check_color2 = 'Pink'
if check_color2 in colors:
    print(f"'{check_color2}' is in the set")
else:
    print(f"'{check_color2}' is not in the set")

Original colors set: {'Purple', 'Green', 'Yellow', 'Red', 'Blue'}
After adding Orange: {'Purple', 'Green', 'Yellow', 'Orange', 'Red', 'Blue'}
After trying to add duplicate 'Red': {'Purple', 'Green', 'Yellow', 'Orange', 'Red', 'Blue'}
Note: Sets only store unique values, so duplicates are ignored.
After removing Yellow: {'Purple', 'Green', 'Orange', 'Red', 'Blue'}
'Blue' is in the set
'Pink' is not in the set

Section 4: Dictionaries
Q4. Create a dictionary with student names and marks:

In [5]:
# Q4: Dictionaries Exercise

# Create a dictionary with student names and marks
student_marks = {'Alice': 85, 'Bob': 92, 'Charlie': 78}

# Print all keys and values
print("Student marks:")
for student, mark in student_marks.items():
    print(f"{student}: {mark}")

# Add a new student to the dictionary
student_marks['David'] = 88
print("\nAfter adding David:", student_marks)

# Update marks of an existing student
student_marks['Alice'] = 90
print("After updating Alice's marks:", student_marks)

# Delete one student from the dictionary
del student_marks['Charlie']
print("After deleting Charlie:", student_marks)

# Check if 'David' is a student in the dictionary
if 'David' in student_marks:
    print("\nDavid is a student in the dictionary")
else:
    print("\nDavid is not a student in the dictionary")

# Check if 'Charlie' is a student (after deletion)
if 'Charlie' in student_marks:
    print("Charlie is a student in the dictionary")
else:
    print("Charlie is not a student in the dictionary")

Student marks:
Alice: 85
Bob: 92
Charlie: 78

After adding David: {'Alice': 85, 'Bob': 92, 'Charlie': 78, 'David': 88}
After updating Alice's marks: {'Alice': 90, 'Bob': 92, 'Charlie': 78, 'David': 88}
After deleting Charlie: {'Alice': 90, 'Bob': 92, 'David': 88}

David is a student in the dictionary
Charlie is not a student in the dictionary

Section 5: Conditional Statements
Q5. Number analysis program:

In [6]:
# Q5: Number Analysis Program

# Accept a number from the user
try:
    number = float(input("Enter a number: "))
    
    # Check if the number is positive, negative, or zero
    if number > 0:
        print(f"{number} is positive")
    elif number < 0:
        print(f"{number} is negative")
    else:
        print(f"{number} is zero")
    
    # Check if the number is even or odd (only for integers)
    if number == int(number):  # Check if it's an integer
        if int(number) % 2 == 0:
            print(f"{int(number)} is even")
        else:
            print(f"{int(number)} is odd")
    else:
        print(f"{number} is not an integer, so it's neither even nor odd")
        
except ValueError:
    print("Please enter a valid number!")

123.0 is positive
123 is odd

Q6. Pass/Fail checker:

In [7]:
# Q6: Pass/Fail Checker

try:
    marks = float(input("Enter student marks: "))
    
    if marks >= 40:
        print("Pass")
    else:
        print("Fail")
        
except ValueError:
    print("Please enter a valid number!")

Fail

Q7. Grading system:

In [8]:
# Q7: Grading System

try:
    marks = float(input("Enter student marks: "))
    
    if 90 <= marks <= 100:
        grade = 'A'
    elif 75 <= marks < 90:
        grade = 'B'
    elif 50 <= marks < 75:
        grade = 'C'
    elif 40 <= marks < 50:
        grade = 'D'
    elif 0 <= marks < 40:
        grade = 'F'
    else:
        grade = 'Invalid'
    
    if grade == 'Invalid':
        print("Invalid marks! Marks should be between 0 and 100.")
    else:
        print(f"Grade: {grade}")
        
except ValueError:
    print("Please enter a valid number!")

Grade: D

Q8. Product price lookup (Bonus):

In [9]:
# Q8: Product Price Lookup

# Store product names and prices in a dictionary
products = {
    'Laptop': 999.99,
    'Mouse': 25.50,
    'Keyboard': 75.00,
    'Monitor': 299.99,
    'Headphones': 89.99
}

print("Available products:")
for product in products.keys():
    print(f"- {product}")

# Ask user to input a product name
product_name = input("\nEnter a product name: ")

# Display its price if it exists
if product_name in products:
    print(f"Price of {product_name}: ${products[product_name]:.2f}")
else:
    print("Product not found")

Available products:
- Laptop
- Mouse
- Keyboard
- Monitor
- Headphones
Price of Laptop: $999.99

Section 6: Loops in Python
Q9. For loop with animals list:

In [10]:
# Q9: For loop with animals list

animals = ['Lion', 'Elephant', 'Giraffe', 'Tiger', 'Penguin']

print("My favorite animals:")
for animal in animals:
    print(f"- {animal}")

My favorite animals:
- Lion
- Elephant
- Giraffe
- Tiger
- Penguin

Q10. For loop to print numbers 1 to 10:

In [11]:
# Q10: For loop to print numbers 1 to 10

print("Numbers from 1 to 10:")
for i in range(1, 11):
    print(i, end=" ")
print()  # New line at the end

Numbers from 1 to 10:
1 2 3 4 5 6 7 8 9 10

Q11. While loop to print numbers 5 to 1 in reverse:

In [12]:
# Q11: While loop to print numbers 5 to 1 in reverse

print("Numbers from 5 to 1 in reverse:")
num = 5
while num >= 1:
    print(num, end=" ")
    num -= 1
print()  # New line at the end

Numbers from 5 to 1 in reverse:
5 4 3 2 1

Q12. For loop to print even numbers between 1 and 20:

In [13]:
# Q12: For loop to print even numbers between 1 and 20

print("Even numbers between 1 and 20:")
for i in range(2, 21, 2):  # Start at 2, go up to 20, step by 2
    print(i, end=" ")
print()  # New line at the end

Even numbers between 1 and 20:
2 4 6 8 10 12 14 16 18 20

Q13. Loop with continue to skip number 5:

In [14]:
# Q13: Loop with continue to skip number 5

print("Numbers 1 to 10, skipping 5:")
for i in range(1, 11):
    if i == 5:
        continue  # Skip the number 5
    print(i, end=" ")
print()  # New line at the end

Numbers 1 to 10, skipping 5:
1 2 3 4 6 7 8 9 10

Q14. Loop with break when reaching number 7:

In [15]:
# Q14: Loop with break when reaching number 7

print("Numbers until 7 (breaking at 7):")
for i in range(1, 11):
    if i == 7:
        break  # Exit the loop when reaching 7
    print(i, end=" ")
print()  # New line at the end
print("Loop ended because we reached 7")

Numbers until 7 (breaking at 7):
1 2 3 4 5 6
Loop ended because we reached 7

Q15. Loop with pass statement:

In [16]:
# Q15: Loop with pass statement

print("Using pass in a loop from 1 to 3:")
for i in range(1, 4):
    if i == 2:
        pass  # Do nothing when i is 2
        print(f"Passed over {i}")
    else:
        print(f"Processing {i}")

print("\nNote: 'pass' is a null operation - it does nothing when executed.")

Using pass in a loop from 1 to 3:
Processing 1
Passed over 2
Processing 3

Note: 'pass' is a null operation - it does nothing when executed.

Q16. Continuous number input with sum calculation (Bonus):

In [18]:
# Q16: Continuous number input with sum calculation

print("Enter numbers continuously. Enter 0 to stop.")

total = 0
count = 0

while True:
    try:
        number = float(input(f"Enter number {count + 1}: "))
        
        if number == 0:
            break  # Exit the loop when user enters 0
        
        total += number
        count += 1
        
    except ValueError:
        print("Please enter a valid number!")

print(f"\nYou entered {count} numbers.")
print(f"Sum of all numbers (excluding 0): {total}")
if count > 0:
    print(f"Average: {total/count:.2f}")

Enter numbers continuously. Enter 0 to stop.
Please enter a valid number!

You entered 24 numbers.
Sum of all numbers (excluding 0): 1752.0
Average: 73.00